doctype
html
  head
    link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Lora|Roboto|Open+Sans', type='text/css')
    link(rel='stylesheet', href='/css/foundation.min.css' type='text/css')

  body
    div.row
      div.small-12.columns
        h2.text-center Enter an objectId
        form(method="post", action="/fetchId")
          input(type="text", name="id")
          input(type="submit", value="Submit")
